.header {
  position: sticky;
  top: 0;
  left: 0;
  height: 130px;
  width: 100%;
  background-color: #9A9FA4;
  
}
.header_container {
  width: 80%;
  max-width: 1520px;
  margin: auto;
}
.header_nav {
  display: flex;
  justify-content: space-between;
  padding: 30px 0 30px;
}
.header_nav_description {
  width: 68%;
}
.header_nav_description a {
  color: azure;
  text-transform: uppercase;
  font-weight: bold;
}
.header_nav_description a:hover {
  color: red;
}
.header_nav_link {
  display: flex;
}
.header button, .header_nav_logo {
  color: white;
  text-transform: uppercase;
  font-weight: bold;
  cursor: pointer;
}
.header_nav_logo, .header_cart {
  background-color: #589DC4;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  width: 16%;
  height: 70px;
}
.header_cart img {
  height: 70%;
}
.header_description_link {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 35px;
  text-decoration: none;
}
.header_color1 {
  background-color: #9D62DD;
  border: #9D62DD;
  width: 33.3%;
}
.header_color2 {
  background-color: #F78B48;
  border: #F78B48;
  width: 66.6%;
}
.header_color3 {
  background-color: #9CCC3D;
  border: #9CCC3D;
  width: 33.3%;
}
.header_color4 {
  background-color: #DF59CA;
  border: #DF59CA;
  width: 33.3%;
}
.header_color5 {
  background-color: #FFB54E;
  border: #FFB54E;
  width: 33.3%;
}
