.main {
  flex: 1 1 auto;
  display: flex;
  flex-direction: column;
  background-image: url(../../images/fon_header3.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover
}
